/**
 *
 * NAVIVATION
 *
 **/
.fixed_header #logo img {
    height:48px;
}

 #header #logo .light {
    display: none;
 }
 
 .header_shadow {
    display: none;
 }
 
/** logo **/
 #logo {
    width:215px;
    padding-top: 9px;
 }

#logo img {
    float:left;
    margin-right:15px;
}

#logo > a {
    display: table;
}

#logo .logo-title {
    display: table-cell;
    vertical-align: middle;
    font-size:21px;
    color:#fff;
    font-weight: 800;
}

/** header bar **/
.header_1 .header_bar {
    display: block;
    background-color: #f6f6f6;
    color:#444444;
}

.header_1 .header_bar h3 {
    width: initial;
    color:#444444;
}

.header_bar .pull-right.socials li a {
    color:#444444;
}

/** Header links hover **/
nav .menu li:hover, nav .menu li.page_item:hover {
    background-color: #fff;
}


nav .menu li.current-menu-item, nav .menu li.current_page_item {
    background-color: #fff;
}

nav .menu>li:hover>a, nav .menu>li.current-menu-item > a, nav .menu>li.current_page_item > a {
    color:#009dcd;
}

nav .menu > li.current-menu-item, nav .menu > li:hover, nav .menu > li.current-menu-parent, nav .menu > li.current_page_ancestor, nav .menu > li.current-menu-ancestor {
    border-bottom: 4px solid #fff;
}

header nav .menu > li > a {
    border-width: 0px;
}

/** Sticked Menu **/
header#header.sticky_header.fixed_header #navigation {
    margin-top: 0;
}

.fixed_header nav .menu > li:hover, .fixed_header nav .menu > li {
    height: 69px;
}

header#header.sticky_header.fixed_header nav .menu li.current-menu-item > a, header#header.sticky_header.fixed_header nav .menu li.current_page_item > a {
    color:#009dcd;
}

header#header.sticky_header.fixed_header nav .menu li > a {
    display: block;
    margin-top: 20px;
    color:#fff;
}

header#header.sticky_header.fixed_header nav .menu li:hover > a {
    color:#009dcd;
}


/**
 *
 * Default container
 *
 **/
.dynamic_page_header p {
    font-size: 16px;
    color:#7c7c7c;
    line-height: 22px;
    text-align: left;
}

.style_3 .line_under .line_center {
    background: #009dcd;
}

.wpb_row.standard_section  {
    margin-bottom:0px;
}

.services_medium i {
    margin-left: 0;
}
.services_medium:hover i:before {
    color:#fff;
}

/* Icons */
.ico-medium i {
    width:100%;
    font-size: 45px;
}

.ico-medium {
    margin-bottom: 55px;
}

.ico-medium p {
    text-align: justify;
    font-size: 14px;
}





/***************
 *    HOME     *
 **************/
.home-list-full-size {
    width: 550px;
    color:#fff;
    padding: 80px 0;
    float: right;
    font-size:16px;
}

.home-list-full-size ul {
    list-style-type: none;
    list-style-image : url('img/validate-li.png');
    margin-top: 25px;
    margin-bottom: 80px;
}

.full-content-home .second_section_over  {
    background-size: cover;
}